*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
ul,
figure,
h3,
p {
    margin: 0;
}

.ctn {
    font-family: sans-serif;
}

.ctn-inside {
    width: 90%;
    margin: 0 auto;
}

.header,
.head-hide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}

.header0 {
    display: none;
}

.head1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head1 img,
.head-hide img {
    width: 110px;
    height: 25px;
}

.head1 ul {
    padding: 0;
}

.head1 ul li {
    display: inline;
    list-style: none;
}

.head1 ul li a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
    margin-left: 20px;
}

.head1 ul li a:hover,
.head2 a:hover {
    text-decoration: underline;
}

.head2 {
    display: flex;
    align-items: center;
}

.head2 span {
    font-size: 14px;
    color: #333;
    padding-right: 20px;
}

.head2 a {
    color: #333;
    text-decoration: none;
}

.icons i {
    color: #666;
    padding-left:20px ;
    font-size: 17px;
}

.head-hide1 i {
    color: #666;
    padding: 0 10px;
    font-size: 17px;
}

.icons i:hover,
.head-hide1:hover {
    cursor: pointer;
}


.icons .fa-user-circle {
    font-size: 24px;
}

.shop {
    background-color: #A80000;
    padding: 12px;
    color: whitesmoke;
    font-size: 14px;
    text-align: center;
}

.shop a {
    color: whitesmoke;
    text-decoration: none;
}

.shop a:hover {
    text-decoration: underline;
}

.shop span i {
    transition: transform 1s;
}

.shop span i:hover {
    transform: translate(10px);
}


.robot {
    position: relative;
    background-image:  linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 4)),  url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4JkWi?ver=c03c&q=0&m=8&h=431&w=767&b=%23FFFFFFFF&l=f&x=1131&y=919&s=767&d=431&aim=true);
    background-repeat: repeat;
    height: 430px;
}

.robot:hover {
    cursor: pointer;
}

.inside {
    width: 40%;
    position: absolute;
    bottom: 40px;
    right: 60px;
    color: whitesmoke;
}

.inside h3 {
    font-size: 25px;
    padding-bottom: 20px;
}

.inside p {
    font-size: 15px;
    line-height: 1.4;
    padding-bottom: 10px;
}

.butt-inside {
    background-color: white;
    padding: 10px 20px;
    color: #111;
    border: none;
}

.butt-inside:hover {
    text-decoration: underline;
}

.spn2 {
    margin-left: 20px;
}

.choose {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.choose-box {
    text-align: center;
    width: 12%;
}

.choose-box a {
    color:black;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.choose-box a:hover {
    text-decoration: underline ;
}

.choose-box figure {
    margin-top: 10px;
}

.choose-box {
    transition: transform 2s;
}

.choose-box:hover {
    transform: rotateY(360deg);
    cursor: pointer;
}

.computer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.computer1 {
    width: 23.4%;
    transition: transform 1s;
    color: #333;
}

.computer1 img {
    width: 100%;
}

.computer1:hover {
    cursor: pointer;
    transform: scale(1.13, 1.13);

}

.computer1 h3 {
    margin: 30px 0 10px 0;
}

.computer1 p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.computer1 span {
    color: #A80000;
    font-size: 14px;
}

.computer1 a {
    color: #A80000;
    text-decoration: none;
    font-weight: 500;
}

.computer1 a:hover {
    text-decoration: underline;
}

.robot-2 {
    background-image: url(https://wallpapertag.com/wallpaper/full/5/9/a/413467-download-space-star-background-1920x1080-for-iphone-7.jpg);
    background-size: cover;
    margin-top: 60px;
}

.for-buss {
    margin-top: 50px;
}

.computer-2 {
    margin-top: 0;
}

.covid {
    background-color: #E6E6E6;
    text-align: center;
    padding: 20px 0 10px 0;
    margin-top: 50px;
}

.covid a {
    color: #333;
    text-decoration: none;
}

.covid a:hover {
    text-decoration: underline;
}

.robot-3 {
    margin-top: 50px;
    background-image: url(https://im0-tub-com.yandex.net/i?id=f1096d21d5aba34059ef3d13b8730e0a&n=13);
    background-size: cover;
}

.follow {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.follow span {
    font-size: 16px;
    font-weight: 100;
    color: #777;
}

.follow img {
    width: 26px;
    height: 25px;
    margin-left: 10px;
}

.follow img:hover {
    cursor: pointer;
}



@media only screen and (max-width: 1080px) {
    .ctn-inside {
        width: 100%;
    }

    .header {
        padding: 14px 20px;
    }

    .choose,
    .computer,
    .for-buss,
    .follow {
        width: 90%;
        margin: 50px auto 0 auto;
    }

    .computer-2 {
        margin-top: 0;
    }

    .computer1 {
        width: 48%;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 920px) {
   #hide {
       display: none;
   } 
}

@media only screen and (max-width:860px) {
    .header {
        display: none;
    }

    .header0 {
        display: unset;
    }

    .inside {
        width: 50%;
    }
}

@media only screen and (max-width: 750px) {
    .inside {
        width: 100%;
        height: 300px;
        background-color: #444;
        text-align: center;
        right: 0;
        bottom: -300px;
        padding-top: 100px;
    }

    .choose {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        margin-top: 320px;
}

.for-buss {
    margin-top: 330px;
}

    .choose-box {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 10px 0;
    }

    .choose-box img {
        width: 20px;
        height: 20px;
        margin-right: 15px;
    }
        
}

@media only screen and (max-width:540px) {
    .computer1 {
        width: 95%;
        margin: 0 auto 40px auto;
    }

    .covid {
        font-size: 70%;
    }
}

@media only screen and (max-width: 360px) {
    .inside span {
        display: block;
    }

    .spn1 {
        /* width: 60px; */
    }
}